


.topnav {
    position: relative;
    overflow: hidden;
  }
  
  .topnav a {
    float: left;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 25px;
  }

  .topnav a:hover {
    text-decoration: underline;
  }

  .topnav-right {
    float: right;
  }

  .topnav img {
    display: block;
    width: 40px;
    height: 40px;
    margin: auto;
  }

  .topnav-centered a {
    float: none;
    position: absolute;
    width: 53px;
    height: 57px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .company-name {
      float: left;
      margin-left: 10%;
  }

  .company-info {
      float: right;
      margin-right: 10%;
  }

  .btn {
    font-size: large;
    border-radius: 5px;
    padding: 30px 50px;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    outline: black;
  }

  .btn:hover {
    text-decoration: underline;
  }

  .container {
    display: none;
    justify-content: center;
  }

  .form {   
    width: 800px;
    max-width: 80%;
    box-align: center;
    margin:auto;
    border-radius: 5px;
    border: black;
    padding: 25px;
    box-shadow: rgba(60, 66, 87, 0.12) 0px 7px 14px 0px, rgba(0, 0, 0, 0.12) 0px 3px 6px 0px;
    background-color:#ffffff;
    color: black;
    padding: 10px;
    font-size: x-large;
    display: grid;
    gap: 20px;
    margin-bottom: 40px;
    grid-template-columns: repeat(1,auto);
  }

  .hide {
    display: none;
  }

  .field{
    display: grid;
    grid-template-columns: repeat(2,auto);
    gap: 40px;
   
  }

 

  

